<div class="main__images" id="image"></div>
      <!-- <div class="main__sorting">
          <span class="main__sorting-label">Сортировать по:</span>
          <select class="main__sorting-select">
          <option value="likes">Количество лайков</option>
          <option value="subscriptions">Подписки</option>
          <option value="views">Просмотры</option>
          </select>
      </div> -->

      <!-- <div class="main__album" id="album">
        <hr class="grad_line" id="grad_line">
        <span class="main__album-name" id="album-name"">Альбом</span>
        <hr class="grad_line" id="grad_line">
      </div>
    
      <div class="main__examples">
        <div class="main__examples-example">
          <img class="main__examples-example-img" src="images/authors/Avogado6/example1.jpg" alt="example1">
        </div>
        -->