<header class="my_header">
    <div class="header__top">
      <a href="index.html" class="header__logo">
        <span class="header__logo-text">АртГалерея</span>
      </a>
      <div class="header__search">
        <input type="text" placeholder="Поиск" class="header__search-input" id="find_img-inp">
        <button class="header__search-btn" id="find_img-btn" onclick="filterItems()">Поиск</button>
      </div>
      <a href="#" class="header__profile">
        <img src="images/ava.jpg" alt="Аватар" class="header__profile-avatar">
      </a>
    </div>

    {{> navigation}}
  </header>