<nav class="header__nav">
    <a href="/index" class="header__nav-item" onclick="changePage('index.html')">
        <span class="header__nav-item-text">Главная</span></a>
    <div class="header__nav-space"></div>
    <a href="/revies" class="header__nav-item" onclick="changePage('revies.html')">
        <span class="header__nav-item-text">Отзывы</span></a>
</nav>