<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Арт галерея</title>
    {{> styles}}

    <script src="js/timePageLoader.js"></script>
</head>

<body class="my_body">
  

  {{> header}}

  <main class="my_main">
    {{> content}}
  </main>


  {{> footer}}


  <script src="js/index.js"></script>
  <script src="js/nav.js"></script>
  {{> globalScripts}}
</body> 